.modal-burger-menu {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  transition: 0.3s;
  //   display: flex;
  //   flex-flow: column;
  //   justify-content: space-around;
  //   align-items: center;
  //   margin-left: auto;
  //   margin-right: auto;
  background: $gradient-bgc;
}
.modal-burger-menu-off {
  // display: none;
  transform: translateX(-100%);
  transition: 0.3s;
}
.burger-button-nav {
  display: flex;
  align-items: center;
  flex-flow: column;
  gap: 20px;
}
.burger-window {
  height: 100%;
  max-width: 375px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../images/group-books@1x.png');
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: cover;
}
.btn-log-out {
  align-self: flex-start;
}
.active .burger-menu-span1 {
  transform: translateY(6px) rotate(45deg);
  transition: 0.3s;
}
.active .burger-menu-span3 {
  transform: translateY(-6px) rotate(-45deg);
  transition: 0.3s;
}
.active .burger-menu-span2 {
  opacity: 0;
  transition: 0.1s;
}
