.pag-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;

  padding: 0 6px;

  &__left,
  &__right {
    display: flex;
    gap: 5px;
  }

  &__center {
    display: flex;
    gap: 8px;
  }
  bottom: -24px;
  // tablet
  @media screen and (min-width: 768px) {
    padding: 0 80px;
    &__left,
    &__right {
      display: flex;
      gap: 8px;
    }

    &__center {
      display: flex;
      gap: 10px;
    }
    bottom: -44px;
    padding: 0 129px;
  }

  // desktop
  @media screen and (min-width: 1440px) {
    padding: 0 275px;
  }
}
