.visually-hidden {
  padding-top: 0px;
}

@media screen and (min-width: 1440px) {
  .container__shop-list-page {
    display: flex;
  }
}
.shop-list__container {
  padding-bottom: 40px;
  @media screen and (min-width: 1440px) {
    padding-left: 40px;
    padding-bottom: 40px;
  }
}

.shop-list__title {
  // margin-left: 20px;
  padding-top: 40px;

  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 0.84;
  letter-spacing: -0.04em;

  color: $primary-brdr-clr-light;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 0.92;
  }
}

.shop-list__span {
  color: $primary-accent-color;
}
.shop-list__cards {
  padding-top: 40px;
  // margin-left: 40px;
  @media screen and (min-width: 768px) {
    padding-top: 40px;
  }
  // @media screen and (min-width: 1440px) {
  //   min-height: 679px;
  // }
}
.shop-list__one-card {
  position: relative;

  padding: 14px;
  margin-bottom: 20px;

  display: flex;
  height: 170px;

  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
  background: $secondary-bgc-light;
  @media screen and (min-width: 768px) {
    width: 704px;
    height: 213px;
    padding: 24px;
  }
  @media screen and (min-width: 1440px) {
    width: 996px;
    height: 213px;
  }
}

.shop-list__title-book {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;

  line-height: 1.12;

  text-overflow: ellipsis;
  overflow: hidden;

  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: $primary-brdr-clr-light;
  @media screen and (min-width: 320px), (max-width: 368px) {
    text-overflow: ellipsis;
    max-width: 99px;
    height: 42px;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 368px) {
    max-width: 144px;
    height: 18px;

    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline;
  }

  @media screen and (min-width: 768px) {
    width: 100%;
  }
}
.shop-list__img {
  width: 100px;
  height: 142px;
  border-radius: 8px;

  // margin: 24px;
  // width: 116px;
  // height: 165px;
  @media screen and (min-width: 768px) {
    width: 116px;
    height: 165px;
  }
}
.shop-list__text-container {
  display: flex;
  flex-direction: column;
  padding-left: 14px;
  max-width: 193px;

  @media screen and (min-width: 768px) {
    padding-left: 24px;
    max-width: 508px;
  }
  @media screen and (min-width: 320px), (max-width: 368px) {
    max-width: 171px;
  }

  // max-width: 808px;
}

.shop-list__category-name {
  margin-top: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 0.86;
  letter-spacing: 0.03;

  color: $secondary-txt-clr;
  @media screen and (min-width: 320px), (max-width: 368px) {
    max-width: 126px;
  }
}

.shop-list__descr {
  width: 100%;
  margin-top: 8px;
  // width: 193px;
  height: 68px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.04;

  color: $primary-brdr-clr-light;
  @media screen and (min-width: 768px), (max-width: 767px) {
    margin-top: 14px;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  @media screen and (min-width: 768px) {
    width: 508px;
    height: 53px;
  }

  // margin-top: 14px;
}
// .shop-list__descr {
//   @media screen and (min-width: 320), (max-width: 368) {
//     width: 100%;
//   }
// }

.shop-list__author {
  position: absolute;
  bottom: 14px;

  width: 115px;
  height: 14px;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  font-family: 'DM Sans';
  font-style: italic;
  font-size: 12px;
  line-height: 0.86;
  letter-spacing: -0.04;

  color: $secondary-txt-clr;
  @media screen and (min-width: 320px), (max-width: 368px) {
    bottom: 30px;
  }
  @media screen and (min-width: 368px) {
    bottom: 14px;
  }

  @media screen and (min-width: 768px) {
    bottom: 24px;
    width: 300px;
  }
}

.btn-trash-box {
  @extend %btn;
  @extend %btn-icon;

  position: absolute;
  top: 24px;
  right: 24px;

  width: 34px;
  height: 34px;

  border-radius: 50%;

  background-color: $primary-accent-color;
  color: $primary-accent-color;

  @include transition(background-color, color);

  &:hover,
  &:focus {
    background-color: $secondary-accent-color;
    color: $secondary-accent-color;
  }

  // mobile
  @media screen and (max-width: 767.99px) {
    width: 28px;
    height: 28px;

    top: 14px;
    right: 14px;
  }
}

// сторінка без доданих книг(порожня)

.shop-list__empty-page {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;

  padding: 120px 35px 0 35px;

  @media screen and (min-width: 768px) {
    padding: 140px 209px;
  }

  // margin-left: 355px;
  // margin-top: 140px;

  // max-width: 418px;
}

.textEmptyPage {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: $shop-list-info-txt-clr-light;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    width: 349px;
  }
  // font-weight: 400;
  // font-size: 18px;
  // line-height: 1.3;
  // text-align: center;
  // letter-spacing: 0.02em;
  // color: rgba(0, 0, 0, 0.6);
}
.imgEmptyPage {
  height: auto;
  margin-top: 14px;
  max-width: 322px;
  justify-content: center;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}

// Лінки

.shop-list__links-group {
  display: flex;

  position: absolute;
  bottom: 21px;
  right: 14;

  width: 80px;
  height: 16px;
  @media screen and (min-width: 768px) {
    width: 140px;
    height: 30px;

    bottom: 24px;
    right: 24px;
  }
}

.shop-list__links {
  height: 16px;

  display: flex;
  justify-content: center;
  filter: grayscale(100%);
  object-fit: contain;
  align-items: center;

  height: 36px;

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.shop-list__links:hover {
  filter: $icon-hover-shadow;
}
