.container--home-page {
  @media screen and (min-width: 1440px) {
    display: flex;
  }
}

.sidebar {
  padding-top: 40px;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 32px;
    margin-right: 0;
  }

  @media screen and (min-width: 1440px) {
    display: block;
    margin-right: 40px;
  }
}

.support {
  background: $gradient-bgc;
  box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
  border-radius: 16px;
  width: 100%;
  max-height: 490px;

  @media screen and (min-width: 375px) {
    width: 335px;
  }

  @media screen and (min-width: 768px) {
    width: 356px;
  }
}

.support--main {
  @media screen and (min-width: 768px) {
    margin-top: 0;
  }

  @media screen and (min-width: 1440px) {
    margin-top: 86px;
  }
}

.support--listshop {
  display: none;

  @media screen and (min-width: 1440px) {
    margin-top: 40px;
    display: block;
  }
}

.support-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.04em;
  color: $additional-txt-clr-light;

  padding-left: 40px;
  padding-top: 24px;
  margin-bottom: 40px;

  display: flex;
  align-items: center;
}

.support-icon {
  width: 20px;
  height: 32px;
  margin-left: 12px;
}

.support-list {
  max-height: 188px;
  padding-left: 40px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    max-height: 292px;
  }
}

.support-link {
  height: 32px;
  display: flex;
  align-items: center;
}

.support-number {
  color: $additional-txt-clr-light;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
}

.support-image {
  margin-left: 16px;
}

.support-slider {
  padding-bottom: 24px;
  text-align: center;
}

.swiper-thumb {
  overflow: hidden;
}
