@charset "UTF-8";
/* General */ /* ACCENT COLORS */
/* TEXT COLORS */
/* Text colors Light Theme */
/* Text colors Dark Theme */
/* BG COLORS */
/* BG colors Light Theme */
/* BG colors Dark Theme */
/* BORDER COLORS */
/* Border colors Light Theme */
/* Border colors Dark Theme */
/* SHADOWS */
@import '~node_modules/modern-normalize/modern-normalize.css';
@import '~node_modules/modern-normalize/modern-normalize.css';
@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fonts/dm-sans-v11-latin-regular.woff2") format("woff2"), url("../fonts/fonts/dm-sans-v11-latin-regular.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/fonts/dm-sans-v11-latin-italic.woff2") format("woff2"), url("../fonts/fonts/dm-sans-v11-latin-italic.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/fonts/dm-sans-v11-latin-500.woff2") format("woff2"), url("../fonts/fonts/dm-sans-v11-latin-500.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/fonts/dm-sans-v11-latin-700.woff2") format("woff2"), url("../fonts/fonts/dm-sans-v11-latin-700.woff") format("woff");
}
html {
  scroll-behavior: smooth;
}

body {
  color: #111111;
  background-color: #f6f6f6;
  font-family: "DM Sans", sans-serif;
}

/* Глобальне скидання стилів по тегам*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

button {
  border: 0;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/* Mixins */ /* Buttons */
.btn-pag, .btn-slider, .btn-trash-box, .btn-scroll-up, .btn-sign-up, .btn-log-out, .btn-user-in, .btn-see-more, .btn-shop-list-modal-remove, .btn-shop-list-modal-add, .btn-registration-modal-submit {
  padding: 0;
  border: none;
  cursor: pointer;
  font-family: inherit;
  background-color: transparent;
}

.btn-sign-up, .btn-log-out, .btn-user-in, .btn-see-more, .btn-shop-list-modal-remove, .btn-shop-list-modal-add, .btn-registration-modal-submit {
  width: 499px;
  height: 64px;
  border-radius: 32px;
  border: 2px solid #4f2ee8;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3333333333;
  text-transform: uppercase;
  letter-spacing: -0.01em;
  color: #111111;
  transition-property: background-color, border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-sign-up:hover, .btn-log-out:hover, .btn-user-in:hover, .btn-see-more:hover, .btn-shop-list-modal-remove:hover, .btn-shop-list-modal-add:hover, .btn-registration-modal-submit:hover, .btn-sign-up:focus, .btn-log-out:focus, .btn-user-in:focus, .btn-see-more:focus, .btn-shop-list-modal-remove:focus, .btn-shop-list-modal-add:focus, .btn-registration-modal-submit:focus {
  border: 2px solid #4f2ee8;
  background-color: #4f2ee8;
  color: #ffffff;
}
.dark-theme.btn-sign-up, .dark-theme.btn-log-out, .dark-theme.btn-user-in, .dark-theme.btn-see-more, .dark-theme.btn-shop-list-modal-remove, .dark-theme.btn-shop-list-modal-add, .dark-theme.btn-registration-modal-submit {
  color: #ffffff;
}

.btn-pag, .btn-slider, .btn-trash-box, .btn-scroll-up, .btn-user-in {
  fill: currentColor;
}

.btn-registration-modal-submit {
  border: 2px solid #111111;
  background-color: #111111;
  color: #f3f3f3;
}
.btn-registration-modal-submit:hover, .btn-registration-modal-submit:focus {
  border: 2px solid #4f2ee8;
  background-color: #4f2ee8;
}
.btn-registration-modal-submit.dark-theme {
  border: 2px solid #f6f6f6;
  background-color: #f6f6f6;
  color: #202024;
}
.btn-registration-modal-submit.dark-theme:hover, .btn-registration-modal-submit.dark-theme:focus {
  border: 2px solid #4f2ee8;
  background-color: #4f2ee8;
  color: #f3f3f3;
}
@media screen and (max-width: 767.99px) {
  .btn-registration-modal-submit {
    width: 100%;
    max-width: 294px;
    height: 50px;
    font-size: 16px;
    line-height: 1.125;
  }
}

@media screen and (max-width: 767.99px) {
  .btn-shop-list-modal-add {
    width: 100%;
    max-width: 211px;
    height: 46px;
    font-size: 14px;
    line-height: 1.2857142857;
  }
}

@media screen and (max-width: 767.99px) {
  .btn-shop-list-modal-remove {
    width: 100%;
    max-width: 279px;
    height: 46px;
    font-size: 14px;
    line-height: 1.2857142857;
  }
}
@media screen and (max-width: 340px) {
  .btn-shop-list-modal-remove {
    font-size: 4.11vw;
  }
}

.btn-see-more {
  width: 124px;
  height: 46px;
  border-radius: 23px;
  font-size: 14px;
  line-height: 1.2857142857;
}

.btn-user-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #4f2ee8;
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.3181818182;
  text-transform: none;
  letter-spacing: -0.02em;
}
.btn-user-in:hover, .btn-user-in:focus {
  background-color: #eac645;
}

.btn-log-out {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  width: 184px;
  height: 48px;
  border-radius: 17px;
  border-color: #111111;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2857142857;
  text-transform: none;
  letter-spacing: -0.04em;
}
.btn-log-out:hover, .btn-log-out:focus {
  border-color: #111111;
}
@media screen and (max-width: 767.99px) {
  .btn-log-out {
    width: 100%;
    max-width: 118px;
    height: 48px;
    padding: 0 22px;
    font-size: 14px;
    line-height: 1.2857142857;
  }
}

.btn-sign-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  width: 184px;
  height: 48px;
  border-radius: 17px;
  border-color: #111111;
  background-color: #4f2ee8;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2857142857;
  text-transform: none;
  letter-spacing: -0.04em;
  color: #ffffff;
}
.btn-sign-up:hover, .btn-sign-up:focus {
  border-color: #111111;
  background-color: #ffffff;
  color: #111111;
}

.btn-icn-wrap {
  display: flex;
  justify-content: center;
}

.btn-scroll-up {
  width: 64px;
  height: 64px;
  border: 5px solid rgba(79, 46, 232, 0.3);
  border-radius: 50%;
  background-color: #4f2ee8;
  background-clip: padding-box;
  color: #ffffff;
  transition-property: background-color, border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-scroll-up:hover, .btn-scroll-up:focus {
  border-color: #4f2ee8;
  background-color: rgba(79, 46, 232, 0.3);
  color: #4f2ee8;
}

.btn-trash-box {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #4f2ee8;
  color: #4f2ee8;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-trash-box:hover, .btn-trash-box:focus {
  background-color: #eac645;
  color: #eac645;
}
@media screen and (max-width: 767.99px) {
  .btn-trash-box {
    width: 28px;
    height: 28px;
  }
}

.btn-slider {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #4f2ee8;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-slider:hover, .btn-slider:focus {
  background-color: #eac645;
}
@media screen and (max-width: 767.99px) {
  .btn-slider {
    width: 32px;
    height: 32px;
  }
}

.btn-pag {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2222222222;
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .btn-pag {
    width: 44px;
    height: 44px;
  }
}
@media screen and (max-width: 350px) {
  .btn-pag {
    width: 30px;
    height: 30px;
  }
}
.btn-pag--left {
  border: 1px solid #111111;
  background-color: #111111;
  color: #b4afaf;
}
.btn-pag--left:hover, .btn-pag--left:focus {
  border-color: #4f2ee8;
  color: #4f2ee8;
}
.btn-pag--current {
  border: 1px solid #111111;
  background-color: #111111;
  color: #ffffff;
}
.btn-pag--current:hover, .btn-pag--current:focus {
  border-color: #4f2ee8;
  color: #4f2ee8;
}
.btn-pag--next {
  border: 1px solid #111111;
  color: #111111;
}
.btn-pag--next:hover, .btn-pag--next:focus {
  border-color: #4f2ee8;
  color: #4f2ee8;
}
.btn-pag--more {
  border: 1px solid #111111;
  color: #111111;
}
.btn-pag--more:hover, .btn-pag--more:focus {
  border-color: #4f2ee8;
  color: #4f2ee8;
}
.btn-pag--right {
  border: 1px solid #111111;
  background-color: #eac645;
  color: #111111;
}
.btn-pag--right:hover, .btn-pag--right:focus {
  border-color: #4f2ee8;
  color: #4f2ee8;
}

.example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f37;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #ff6b0a;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/logo.png");
  background-size: cover;
  background-position: center;
}

.modal-form-auth {
  display: flex;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
  transform: translateY(450px);
  max-width: 580px;
  width: 50vw;
  flex-direction: column;
  gap: 20px;
  background: #ffffff;
  padding: 40px;
  font-family: DM Sans;
  border: 2px solid #111111;
  border-radius: 18px;
  color: #111111;
}
.modal-form-auth input {
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 40px;
  font-size: 24px;
  color: #111111;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  border: 2px solid #111111;
  border-radius: 40px;
}
.modal-form-auth button {
  font-size: 24px;
  color: #f3f3f3;
  background: #111111;
  border: 2px solid radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4f2ee8 18.03%, #ffffff 100%);
  border-radius: 40px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 24px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  text-transform: uppercase;
}

.modal-bakc {
  position: relative;
  background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4f2ee8 18.03%, #ffffff 100%);
  z-index: 10;
  width: 100%;
  height: 100vh;
  left: 100%;
  top: -100px;
  transition: 1s;
}

.trans-modal {
  transform: translateX(-100%);
  transition: 0.3s;
}

.clousModalAuth {
  font-size: 42px;
  position: absolute;
  top: 0px;
  right: 10px;
}
.clousModalAuth:hover {
  cursor: pointer;
}

.scroll-off {
  height: 100vh;
  overflow: hidden;
}

.button-sing-group {
  display: flex;
  justify-content: center;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: gray;
}
.button-sing-group p {
  padding-left: 20px;
  padding-right: 20px;
}
.button-sing-group p:hover {
  cursor: pointer;
}

.button-sing {
  text-decoration-line: underline;
  color: #4f2ee8;
}

.spinner-backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(17, 17, 17, 0.4);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  visibility: visible;
}

.spinner-backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.spinner {
  width: 70px;
  height: 70px;
  border: 12px solid rgba(13, 71, 161, 0.4);
  border-radius: 50%;
  border-left-color: #0d47a1;
  animation: loader 1.3s linear infinite;
}

@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}
/*-------------------------home_page_main-------------------*/
.home_page_main {
  padding-top: 40px;
}

@media screen and (min-width: 768px) {
  .left_part {
    display: flex;
    width: 704px;
    row-gap: 32px;
    justify-content: space-between;
  }
  .home_page_main {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1440px) {
  .home_page_main {
    display: flex;
    padding-top: 40px;
    flex-wrap: inherit;
  }
  .left_part {
    justify-content: flex-start;
    width: 356px;
    display: flex;
    flex-direction: column;
  }
}
/*-----------------------------------MOBILE------------------------*/
.bookshelf {
  padding-top: 40px;
}

.bestsellers-title {
  color: #111;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.18;
  letter-spacing: 0.04;
  padding-bottom: 20px;
}

.bestsellers-category-name {
  margin-bottom: 18px;
  color: #B4AFAF;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.03;
  text-transform: uppercase;
}

.categories-title-last-word {
  color: #4f2ee8;
}

.category-book-list {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.category-book-list > li:not(:last-child) {
  margin-bottom: 40px;
}

.book-item {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  border: none;
}

.book-img-container {
  background-image: url("../images/plug.svg");
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: 123px 205px;
  background-size: 88px 80px;
  position: relative;
  width: 335px;
  height: 485px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 14px;
}

.book-img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.35s ease-in-out;
}

.books-overlay {
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: #eac645;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.bookshelf-bool-link:hover .books-overlay,
.bookshelf-bool-link:focus .books-overlay {
  transform: translateY(0%);
}

.books-overlay-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.04;
  color: #111111;
  text-transform: uppercase;
}

.book-title {
  width: 335px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: 0.04;
  color: #111111;
  margin-bottom: 4px;
}

.author-name {
  font-family: "DM Sans";
  width: 335px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: italic;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04;
  color: #B4AFAF;
}

.bestsellers-button-container {
  display: flex;
  justify-content: end;
  padding-bottom: 40px;
}

.bestsellers-button {
  padding-top: 14px;
  padding-right: 28px;
  padding-bottom: 14px;
  padding-left: 28px;
  margin-top: 6px;
  display: flex;
  border-radius: 40px;
  border: 2px solid #4f2ee8;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: 0.01;
  color: #111111;
  text-transform: uppercase;
  cursor: pointer;
}

.bestsellers-button:hover,
.bestsellers-button:focus {
  background-color: #4f2ee8;
  color: #ffffff;
  transition: background-color 0.35s ease-in-out;
}

/*---------------------------TAB--------------------*/
@media screen and (min-width: 768px) {
  .bookshelf {
    width: 100%;
    padding-top: 100px;
  }
  .bestsellers-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: 0.04;
  }
  .bestsellers-category-item {
    overflow: hidden;
    padding-left: 10px;
  }
  .category-book-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 15px;
         column-gap: 15px;
    row-gap: 40px;
  }
  .bestsellers-category-name {
    line-height: 1.71;
  }
  .bestsellers-book-list {
    display: flex;
    gap: 15px;
  }
  .book-img-container {
    background-position: 79px 133px;
    background-size: 60px 54px;
    width: 218px;
    height: 316px;
  }
  .book-shoppingcart {
    background-size: 30px 32px;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
  }
  .book-title {
    width: 218px;
  }
  .author-name {
    width: 218px;
  }
  .bestsellers-button {
    margin-top: 18px;
  }
  .category-book-list > li.book-item {
    margin-bottom: 0px;
  }
  .bestsellers-button-container {
    padding-right: 24px;
  }
  .bestsellers-button {
    padding-top: 14px;
    padding-right: 28px;
    padding-bottom: 14px;
    padding-left: 28px;
    margin-top: 6px;
    display: flex;
    border-radius: 40px;
    border: 2px solid #4f2ee8;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.29;
    letter-spacing: 0.01;
    color: #111111;
    text-transform: uppercase;
  }
  .bestsellers-button:hover,
  .bestsellers-button:focus {
    background-color: #4f2ee8;
    color: #ffffff;
    transition: background-color 0.35s ease-in-out;
  }
}
/*----------------------DESKTOP------------------*/
@media screen and (min-width: 1440px) {
  .bookshelf {
    padding-top: 40px;
  }
  .bestsellers-category-item {
    overflow: visible;
    padding-left: 0px;
  }
  .bestsellers-book-list {
    gap: 25px;
  }
  .category-book-list {
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
  .book-img-container {
    background-position: 68px 110px;
    background-size: 44px 40px;
    width: 180px;
    height: 256px;
  }
  .book-title {
    width: 180px;
  }
  .author-name {
    width: 180px;
  }
  .bestsellers-button {
    margin-top: 30px;
  }
  .category-book-list {
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
  .bestsellers-button-container {
    padding-right: 0px;
    padding-bottom: 20px;
  }
  .bestsellers-button {
    padding-top: 14px;
    padding-right: 28px;
    padding-bottom: 14px;
    padding-left: 28px;
    margin-top: 6px;
    display: flex;
    border-radius: 40px;
    border: 2px solid #4f2ee8;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.29;
    letter-spacing: 0.01;
    color: #111111;
    text-transform: uppercase;
  }
  .bestsellers-button:hover,
  .bestsellers-button:focus {
    background-color: #4f2ee8;
    color: #ffffff;
    transition: background-color 0.35s ease-in-out;
  }
}
.categories {
  height: 228px;
  width: 335px;
  margin-bottom: 40px;
  padding-right: 28px;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.cat-list {
  cursor: pointer;
  margin-bottom: 24px;
}

.cat-list:last-child {
  margin-bottom: 0;
}

.cat-list:focus {
  text-transform: uppercase;
}

.cat-list:hover {
  color: #4f2ee8;
}

.cat-text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.6);
}

.upper-case {
  text-transform: uppercase;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #4f2ee8;
}

.categories::-webkit-scrollbar {
  width: 8px;
}

.categories::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 12px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

@media screen and (min-width: 768px) {
  .categories {
    height: 472px;
    width: 337px;
    margin-bottom: 0;
  }
  .cat-text,
  .upper-case {
    font-size: 18px;
    line-height: 133%;
  }
  .cat-list {
    cursor: pointer;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .categories {
    width: 356px;
    margin-right: 0;
  }
}
.container--home-page {
  display: flex;
}

.sidebar {
  padding-top: 40px;
  margin-right: 40px;
}

.support {
  background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4f2ee8 18.03%, #ffffff 100%);
  box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
  border-radius: 16px;
  width: 356px;
  max-height: 490px;
}

.support-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.04em;
  color: #ffffff;
  padding-left: 40px;
  padding-top: 24px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.support-icon {
  width: 20px;
  height: 32px;
  margin-left: 12px;
}

.support-list {
  margin-bottom: 40px;
}

.support-slider {
  padding-bottom: 24px;
  text-align: center;
}

.scroll-up {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 4;
  width: 64px;
  height: 64px;
  background-color: #4f2ee8;
  cursor: pointer;
  visibility: hidden;
  border-radius: 50%;
  box-shadow: inset 0 0 0 4px rgba(204, 201, 220, 0.8);
  opacity: 0;
  transition: 0.2s;
  transform: translateY(25px);
}

.scroll-up:hover {
  background-color: #EAC645;
}

.scroll-up__arrow {
  position: absolute;
  left: 20px;
  top: 20px;
  fill: #ffffff;
}

.scroll-up--active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.scroll-up__svg-path {
  box-sizing: border-box;
  fill: none;
  stroke: #ffffff;
  stroke-width: 4px;
  transition: 0.2s;
}

.conteiner-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background: #ffffff;
}

.button-header-home {
  padding: 8px 16px;
  width: 72px;
  height: 34px;
  background: #eac645;
  border-radius: 36px;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #111111;
  cursor: pointer;
}

.button-header-shoping {
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #111111;
  cursor: pointer;
  margin-left: 24px;
}

.logo-group {
  display: flex;
}

.header-button-nav {
  margin-left: 40px;
}

.user-img-auth {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.button-user-in {
  font-size: 20px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.4);
}

.backdrop.is-hidden {
  opacity: 0%;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 335;
  height: auto;
  padding: 40px 24px;
  background: #ffffff;
  border: 2px solid #111111;
  border-radius: 18px;
  transition: transform 1500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal {
    width: 579px;
    height: auto;
    padding: 40px;
  }
}

.close-icon {
  width: 28px;
  height: 28px;
  stroke: #111111;
}
.close-icon:hover {
  stroke: #4f2ee8;
}
.close-icon:focus {
  stroke: #4f2ee8;
}
@media screen and (min-width: 768px) {
  .close-icon {
    width: 24px;
    height: 24px;
  }
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .close-btn {
    top: 31px;
    right: 31px;
  }
}

.book-information {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .book-information {
    display: flex;
  }
}

.book_modal-book-img {
  width: 287px;
  height: 408px;
  margin-bottom: 14px;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .book_modal-book-img {
    width: 192px;
    height: 281px;
    margin-right: 24px;
    margin-bottom: 0;
  }
}

.book_modal-book-title {
  width: 200px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: #111111;
  margin-bottom: 4px;
}
@media screen and (min-width: 768px) {
  .book_modal-book-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 8px;
  }
}

.book_modal-book-author {
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.04em;
  color: #b4afaf;
  margin-bottom: 18px;
}
@media screen and (min-width: 768px) {
  .book_modal-book-author {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
  }
}

.book_modal-book-description {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: #111111;
  margin-bottom: 22px;
}

.book_modal-links-group {
  display: flex;
}

.book_modal-links {
  height: 36px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  filter: grayscale(100%);
  -o-object-fit: contain;
     object-fit: contain;
  align-items: center;
}

.book_modal-links:hover {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
}

.order-btn {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #111111;
  padding: 14px;
  border: 2px solid #4f2ee8;
  border-radius: 40px;
  background-color: #ffffff;
  width: 211px;
}
@media screen and (min-width: 768px) {
  .order-btn {
    width: 499px;
    padding: 20px;
    font-size: 18px;
    line-height: 24px;
  }
}

.order-btn-remove-state {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #111111;
  padding: 14px;
  border: 2px solid #4f2ee8;
  border-radius: 40px;
  background-color: #ffffff;
  margin-bottom: 8px;
  width: 279px;
}
@media screen and (min-width: 768px) {
  .order-btn-remove-state {
    width: 499px;
    padding: 20px;
    font-size: 18px;
    line-height: 24px;
  }
}

.order-btn:hover,
.order-btn:focus,
.order-btn-remove-state:hover,
.order-btn-remove-state:focus {
  color: #ffffff;
  background-color: #4f2ee8;
  cursor: pointer;
}

.order-btn-position {
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
}

.text-input {
  width: 242px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: -0.04em;
  color: rgba(17, 17, 17, 0.4);
}
@media screen and (min-width: 768px) {
  .text-input {
    width: 324px;
  }
}

.text-remove-btn {
  color: #111111;
}/*# sourceMappingURL=index.css.map */