// ! REGISTRATION button
.btn-registration-modal-submit {
  @extend %btn;
  @extend %btn-base-action;

  border: 2px solid $primary-brdr-clr-light;
  background-color: $primary-brdr-clr-light;

  color: $registration-modal-btn-txt-clr-light;

  &:hover,
  &:focus {
    border: 2px solid $primary-accent-color;
    background-color: $primary-accent-color;
  }

  // &.dark-theme {
  //   border: 2px solid $registration-modal-brdr-clr-dark;
  //   background-color: $registration-modal-brdr-clr-dark;

  //   color: $registration-modal-btn-txt-clr-dark;

  //   &:hover,
  //   &:focus {
  //     border: 2px solid $primary-accent-color;
  //     background-color: $primary-accent-color;
  //     color: $registration-modal-btn-txt-clr-light;
  //   }
  // }

  // mobile
  @media screen and (max-width: 767.99px) {
    width: 100%;
    max-width: 294px;
    height: 50px;

    font-size: 16px;
    line-height: calc(18 / 16);
  }
}

//! SHOP LIST MODAL buttons
.btn-shop-list-modal-add {
  @extend %btn;
  @extend %btn-base-action;

  // mobile
  @media screen and (max-width: 767.99px) {
    width: 100%;
    max-width: 211px;
    height: 46px;

    font-size: 14px;
    line-height: calc(18 / 14);
  }
}

.btn-shop-list-modal-remove {
  @extend %btn;
  @extend %btn-base-action;

  // mobile
  @media screen and (max-width: 767.99px) {
    width: 100%;
    max-width: 279px;
    height: 46px;

    font-size: 14px;
    line-height: calc(18 / 14);
  }

  // 310px
  @media screen and (max-width: 340px) {
    font-size: 4.11vw;
  }
}

//! SEE MORE button
.btn-see-more {
  @extend %btn;
  @extend %btn-base-action;

  width: 124px;
  height: 46px;
  border-radius: 23px;

  font-size: 14px;
  line-height: calc(18 / 14);
}

//! USER IN button
.btn-user-in {
  @extend %btn;
  @extend %btn-base-action;
  @extend %btn-icon;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;

  width: 184px;
  height: 45px;
  border-radius: 22.5px;

  background-color: $primary-accent-color;
  color: $additional-txt-clr-light;

  font-weight: 500;
  font-size: 22px;
  line-height: calc(29 / 22);
  text-transform: none;
  letter-spacing: -0.02em;

  &:hover,
  &:focus {
    background-color: $secondary-accent-color;
  }
}

//! LOG OUT button
.btn-log-out {
  @extend %btn;
  @extend %btn-base-action;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;

  width: 184px;
  height: 48px;
  border-radius: 17px;
  border-color: $primary-txt-clr-light;
  background-color: $additional-txt-clr-light;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  text-transform: none;
  letter-spacing: -0.04em;

  &:hover,
  &:focus {
    border-color: $primary-brdr-clr-light;
  }

  // mobile
  @media screen and (max-width: 1440px) {
    width: 100%;
    max-width: 118px;
    height: 48px;

    padding: 0 22px;

    font-size: 14px;
    line-height: calc(18 / 14);
  }
}

//! SIGN UP button
.btn-sign-up {
  @extend %btn;
  @extend %btn-base-action;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;

  width: 184px;
  height: 48px;
  border-radius: 17px;
  border-color: $primary-brdr-clr-light;
  background-color: $primary-accent-color;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  text-transform: none;
  letter-spacing: -0.04em;
  color: $additional-txt-clr-light;

  &:hover,
  &:focus {
    border-color: $primary-brdr-clr-light;
    background-color: $secondary-bgc-light;
    color: $primary-txt-clr-light;
  }
}

.btn-icn-wrap {
  display: flex;
  justify-content: center;
}

//! SCROLL UP button
.btn-scroll-up {
  @extend %btn;
  @extend %btn-icon;

  width: 64px;
  height: 64px;

  border: 5px solid $scroll-up-brdr-clr;
  border-radius: 50%;

  background-color: $primary-accent-color;
  background-clip: padding-box;
  color: $primary-txt-clr-dark;

  @include transition(background-color, border-color, color);

  &:hover,
  &:focus {
    border-color: $primary-accent-color;
    background-color: $scroll-up-brdr-clr;
    color: $primary-accent-color;
  }
}

//! TRASH BOX button
.btn-trash-box {
  @extend %btn;
  @extend %btn-icon;

  width: 34px;
  height: 34px;

  border-radius: 50%;

  background-color: $primary-accent-color;
  color: $primary-accent-color;

  @include transition(background-color, color);

  &:hover,
  &:focus {
    background-color: $secondary-accent-color;
    color: $secondary-accent-color;
  }

  // mobile
  @media screen and (max-width: 767.99px) {
    width: 28px;
    height: 28px;
  }
}

//! CLOSE button
.btn-close {
  @extend %btn;
  @extend %btn-icon;

  width: 28px;
  height: 28px;

  color: $primary-txt-clr-light;

  @include transition(color);

  &:hover,
  &:focus {
    color: $primary-accent-color;
  }

  // &.dark-theme {
  //   color: $primary-txt-clr-dark;

  //   &:hover,
  //   &:focus {
  //     color: $secondary-accent-color;
  //   }
  // }
}

.btn-close-icn {
  // mobile
  @media screen and (max-width: 767.99px) {
    width: 24px;
    height: 24px;
  }
}

//! SLIDER button
.btn-slider {
  @extend %btn;
  @extend %btn-icon;

  width: 38px;
  height: 38px;

  border-radius: 50%;

  background-color: $secondary-bgc;
  color: $primary-accent-color;

  @include transition(background-color);

  &:hover,
  &:focus {
    background-color: $secondary-accent-color;
  }

  // mobile
  @media screen and (max-width: 767.99px) {
    width: 32px;
    height: 32px;
  }
}

//! PAGINATION button
.btn-pag {
  @extend %btn;
  @extend %btn-icon;

  width: 38px;
  height: 38px;
  border-radius: 50%;

  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18);

  @include transition(border-color, color);

  // tablet, desktop
  @media screen and (min-width: 768px) {
    width: 44px;
    height: 44px;
  }

  // 310px
  @media screen and (max-width: 350px) {
    width: 30px;
    height: 30px;
  }

  &--left {
    border: 1px solid $primary-brdr-clr-light;
    background-color: $secondary-bgc-dark;
    color: $secondary-txt-clr;

    &:hover,
    &:focus {
      border-color: $primary-accent-color;
      color: $primary-accent-color;
    }
  }

  &--current {
    border: 1px solid $primary-brdr-clr-light;
    background-color: $secondary-bgc-dark;
    color: $additional-txt-clr-light;

    &:hover,
    &:focus {
      border-color: $primary-accent-color;
      color: $primary-accent-color;
    }
  }

  &--next {
    border: 1px solid $primary-brdr-clr-light;
    color: $primary-txt-clr-light;

    &:hover,
    &:focus {
      border-color: $primary-accent-color;
      color: $primary-accent-color;
    }
  }

  // TODO: дублює --next
  &--more {
    border: 1px solid $primary-brdr-clr-light;
    color: $primary-txt-clr-light;

    &:hover,
    &:focus {
      border-color: $primary-accent-color;
      color: $primary-accent-color;
    }
  }

  &--right {
    border: 1px solid $primary-brdr-clr-light;
    background-color: $secondary-accent-color;
    color: $primary-txt-clr-light;

    &:hover,
    &:focus {
      border-color: $primary-accent-color;
      color: $primary-accent-color;
    }
  }
}
