<div class="modal-burger-menu modal-burger-menu-off">
  <div class="burger-window">
    <div class="burger-button-nav">
      <a href="./index.html" class="button-burger-home">Home</a>
      <a href="./listshop.html" class="button-burger-shoping">
        <span>Shopping list</span>
        <svg width="26px" height="28px" class="contakts-list-icon">
          <use href="./images/icons.svg#handbag"></use>
        </svg>
      </a>
    </div>
    <div class="burger-button-auth">
      <button class="btn-log-out" type="button">
        Log in<span class="btn-icn-wrap">
          <svg width="20" height="20">
            <use href="./images/icons.svg#arrow-right"></use>
          </svg>
        </span>
      </button>
    </div>
  </div>
</div>
