<div class="container">
  <!-- REGISTRATION button -->
  <div style="padding: 20px; background-color: '$primary-bgc-light'">
    <button class="btn-registration-modal-submit" type="submit">Sign up</button>
  </div>
  <div style="padding: 20px; background-color: '$primary-bgc-light'">
    <button class="btn-registration-modal-submit dark-theme" type="submit">
      Sign up
    </button>
  </div>

  <!-- SHOP LIST MODAL buttons -->
  <div style="padding: 20px; background-color: '$primary-bgc-light'">
    <button class="btn-shop-list-modal" type="submit">
      Add to shopping list
    </button>
  </div>
  <div style="padding: 20px; background-color: '$primary-bgc-light'">
    <button class="btn-shop-list-modal dark-theme" type="submit">
      Add to shopping list
    </button>
  </div>

  <div style="padding: 20px; background-color: '$primary-bgc-light'">
    <button class="btn-shop-list-modal" type="submit">
      Remove from the shopping list
    </button>
  </div>
  <div style="padding: 20px; background-color: '$primary-bgc-light'">
    <button class="btn-shop-list-modal dark-theme" type="submit">
      Remove from the shopping list
    </button>
  </div>

  <!-- SEE MORE button -->
  <div style="padding: 20px; background-color: '$primary-bgc-light'">
    <button class="btn-see-more" type="button">See more</button>
  </div>
  <div style="padding: 20px; background-color: '$primary-bgc-light'">
    <button class="btn-see-more dark-theme" type="button">See more</button>
  </div>

  <!-- USER IN button -->
  <div style="padding: 20px; background-color: '$primary-bgc-light'">
    <button class="btn-user-in" type="button">
      <span class="btn-icn-wrap">
        <img
          srcset="./images/user-@1x.png 1x, ./images/user-@2x.png 2x"
          src="./images/user-@1x.png"
          alt="user avatar"
          loading="lazy"
        />
      </span>
      Stephen
      <span class="btn-icn-wrap">
        <svg width="23" height="26">
          <use href="./images/icons.svg#caret-down"></use>
        </svg>
      </span>
    </button>
  </div>

  <!-- LOG OUT button -->
  <div style="padding: 20px; background-color: '$primary-bgc-light'">
    <button class="btn-log-out" type="button">
      Log out<span class="btn-icn-wrap">
        <svg width="20" height="20">
          <use href="./images/icons.svg#arrow-right"></use>
        </svg>
      </span>
    </button>
  </div>

  <!-- SIGN UP button -->
  <div style="padding: 20px; background-color: '$primary-bgc-light'">
    <button class="btn-sign-up" type="button">
      Sign up<span class="btn-icn-wrap">
        <svg width="20" height="20">
          <use href="./images/icons.svg#arrow-right"></use>
        </svg>
      </span>
    </button>
  </div>

  <!-- SCROLL UP button -->
  <div style="padding: 20px; background-color: '$primary-bgc-light'">
    <button class="btn-scroll-up" type="button">
      <span class="btn-icn-wrap">
        <svg width="24" height="24">
          <use href="./images/icons.svg#scroll-up"></use>
        </svg>
      </span>
    </button>
  </div>

  <!-- TRASH BOX button -->
  <div style="padding: 20px; background-color: '$primary-bgc-light'">
    <button class="btn-trash-box" type="button">
      <span class="btn-icn-wrap">
        <svg width="18" height="18">
          <use href="./images/icons.svg#trash"></use>
        </svg>
      </span>
    </button>
  </div>

  <!-- CLOSE button -->
  <div style="padding: 20px; background-color: '$primary-bgc-light'">
    <button class="btn-close" type="button">
      <span class="btn-icn-wrap">
        <svg class="btn-close-icn" width="28" height="28">
          <use href="./images/icons.svg#x-close"></use>
        </svg>
      </span>
    </button>
  </div>

  <div style="padding: 20px; background-color: '$primary-bgc-light'">
    <button class="btn-close dark-theme" type="button">
      <span class="btn-icn-wrap">
        <svg class="btn-close-icn" width="28" height="28">
          <use href="./images/icons.svg#x-close"></use>
        </svg>
      </span>
    </button>
  </div>

  <!-- SLIDER button -->
  <div style="padding: 20px; background-color: rgba(79, 46, 232, 0.4)">
    <button class="btn-slider" type="button">
      <span class="btn-icn-wrap">
        <svg width="22" height="22">
          <use href="./images/icons.svg#slider"></use>
        </svg>
      </span>
    </button>
  </div>

  <!-- PAGINATION button -->
  <div
    style="
      background-color: '$primary-bgc-light';
      padding: 20px 6px;
      display: flex;
      justify-content: space-between;
    "
  >
    <div style="display: flex; gap: 5px">
      <button class="btn-pag btn-pag--left" type="button">
        <span class="btn-icn-wrap">
          <svg width="24" height="24">
            <use href="./images/icons.svg#pag-double-left"></use>
          </svg>
        </span>
      </button>
      <button class="btn-pag btn-pag--left" type="button">
        <span class="btn-icn-wrap">
          <svg width="24" height="24">
            <use href="./images/icons.svg#pag-left"></use>
          </svg>
        </span>
      </button>
    </div>
    <div style="display: flex; gap: 8px">
      <button class="btn-pag btn-pag--current" type="button">1</button>
      <button class="btn-pag btn-pag--next" type="button">2</button>
      <button class="btn-pag btn-pag--more" type="button">...</button>
    </div>
    <div style="display: flex; gap: 5px">
      <button class="btn-pag btn-pag--right" type="button">
        <span class="btn-icn-wrap">
          <svg width="24" height="24">
            <use href="./images/icons.svg#pag-right"></use>
          </svg>
        </span>
      </button>
      <button class="btn-pag btn-pag--right" type="button">
        <span class="btn-icn-wrap">
          <svg width="24" height="24">
            <use href="./images/icons.svg#pag-double-right"></use>
          </svg>
        </span>
      </button>
    </div>
  </div>
</div>
