<header>
  <div class="modalWindow"></div>
  <div class="conteiner-header">
    <div class="logo-group">
      <svg width="109px" height="28px" class="logo-span-header">
        <use href="./images/icons.svg#logo-light"></use>
      </svg>
      <div class="header-button-nav">
        <a href="#" class="button-header-home">Home</a>
        <a href="#" class="button-header-shoping">
          <span>Shopping list</span>
          <svg width="26px" height="28px" class="contakts-list-icon">
            <use href="./images/icons.svg#handbag"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="button-sing-auth-js">
      <button class="btn-log-out" type="button">
        Log out<span class="btn-icn-wrap">
          <svg width="20" height="20">
            <use href="./images/icons.svg#arrow-right"></use>
          </svg>
        </span>
      </button>
    </div>
  </div>
</header>
