<header>
  <div class="conteiner">
    <img src="./images/logo.png" alt="logo" />
    <div>
      <button>Home</button>
      <button>Shopping list</button>
    </div>
    <div>
      <div class="authentication-zone">
        <ul>
          <li><button class="buttonAuthEmail">Auth email</button></li>
          <li><button class="buttonSignIn">Sign In email</button></li>
          <li><button class="buttonGoogle">Auth google</button></li>
        </ul>
      </div>
    </div>
    <div style="padding: 20px; background-color: #f6f6f6">
      <button class="btn-log-out" type="button">
        Log out<span class="btn-icn-wrap">
          <svg width="20" height="20">
            <use href="./images/icons.svg#arrow-right"></use>
          </svg>
        </span>
      </button>
    </div>
  </div>
  <div class="modalWindow"></div>
</header>
