<main>
  <include src="./partials/burgerModal.html"></include>
  <div class="container container--home-page">
    <!--Sidebar-->
    <aside class="sidebar">
      <div class="categories">
        <ul class="categories-list">
          <li class="cat-list cat-text upper-case" name="All categories">
            All categories
          </li>
        </ul>
      </div>
      <include src="./partials/supportUk.html"></include>
      <a href="./listshop.html">ЛІСТШОП ТЕСТОВА КНОПКА</a>
    </aside>
    <div class="bookshelf"></div>
  </div>
</main>
