<main>
  <div class="container container--home-page">
    <!--Sidebar-->
    <aside class="sidebar">
      <div class="categories">
        <ul class="categories-list"></ul>
      </div>
      <div class="support">
        <h2 class="support-title">
          Support Ukraine
          <svg class="support-icon">
            <use href="./images/icons.svg#emblem"></use>
          </svg>
        </h2>
        <ul class="support-list"></ul>
        <div class="support-slider">
          <button class="btn-slider" type="button">
            <span class="btn-icn-wrap">
              <svg width="22" height="22">
                <use href="./images/icons.svg#slider"></use>
              </svg>
            </span>
          </button>
        </div>
      </div>
    </aside>
    <ul class="bookshelf"></ul>
  </div>
</main>
