<main>
  <div class="container container--home-page">
    <!--Sidebar-->
    <aside class="sidebar">
      <div class="categories">
        <ul class="categories-list">
          <li class="cat-list cat-text upper-case" name="All categories">
            All categories
          </li>
        </ul>
      </div>
      <div class="support">
        <h2 class="support-title">
          Support Ukraine
          <svg class="support-icon">
            <use href="./images/icons.svg#emblem"></use>
          </svg>
        </h2>
        <ol class="support-list"></ol>
        <div class="support-slider">
          <button class="btn-slider" type="button">
            <span class="btn-icn-wrap">
              <svg width="22" height="22">
                <use href="./images/icons.svg#slider"></use>
              </svg>
            </span>
          </button>
        </div>
      </div>
    </aside>
    <div class="bookshelf"></div>
  </div>
</main>
