<!-- <div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button class="modal__btn-close" data-modal-close><svg class="icon-close" width="28" height="28"><use href="#"></use></svg></button>
        <div class="modal__container">
            <img src="#" width="190" height="280">
        <div class="modal__information">
            <h1 class="modal__book-title">HELLO BEAUTIFUL</h1>
        <h2 class="modal__book-author">Ann Napolitano</h2>
        <p class="modal__book-description">In a homage to Louisa May Alcott’s “Little Women,” a young man’s dark past resurfaces as he gets to the know the family of his college sweetheart.</p>
        <ul class="modal__list">
            <li class="modal__item">
                <a href="#" class="link">
                    <img src="#">
                </a>
            </li>
            <li class="modal__item">
                <a href="#" class="link">
                   <img src="#">
                </a>
            </li>
            <li class="modal__item">
                <a href="#" class="link">
                    <img src="#">
                </a>
            </li>
        </ul>
        </div>
    </div>
        <button type="button" class="modal__btn">ADD TO SHOPPING LIST</button>
    </div>
</div> -->
