<section>
  <h2 class="visually-hidden">Section Pagination</h2>
  <div class="container">
    <div></div>
    <div class="pag-wrap">
      <div class="pag-wrap__left js-pagination-left"></div>
      <!-- <button class="btn-pag btn-pag--left" type="button">
          <span class="btn-icn-wrap">
            <svg width="24" height="24">
              <use href="./images/icons.svg#pag-double-left"></use>
            </svg>
          </span>
        </button>
        <button class="btn-pag btn-pag--left" type="button">
          <span class="btn-icn-wrap">
            <svg width="24" height="24">
              <use href="./images/icons.svg#pag-left"></use>
            </svg>
          </span>
        </button> -->

      <ul class="pag-wrap__center list js-pagination-center"></ul>

      <!-- <button class="btn-pag btn-pag--current" type="button">1</button>
        <button class="btn-pag btn-pag--next" type="button">2</button>
        <button class="btn-pag btn-pag--more" type="button">...</button> -->

      <div class="pag-wrap__right js-pagination-right"></div>
      <!-- <button class="btn-pag btn-pag--right" type="button">
          <span class="btn-icn-wrap">
            <svg width="24" height="24">
              <use href="./images/icons.svg#pag-right"></use>
            </svg>
          </span>
        </button>
        <button class="btn-pag btn-pag--right" type="button">
          <span class="btn-icn-wrap">
            <svg width="24" height="24">
              <use href="./images/icons.svg#pag-double-right"></use>
            </svg>
          </span>
        </button> -->
    </div>
  </div>
</section>
