<section>
  <div class="container">
    <h2>Section Shopping List</h2>
    <div>Тетянин контейнер</div>
    <div class="">
      <h2>Shopping<span>List</span></h2>
      <div class="">
        // перебивается
        <ul class="gallery" style="display: flex; gap: 20px"></ul>
        <div class="pag-wrap">
          <div class="pag-wrap__left js-pagination-left"></div>
          <ul class="pag-wrap__center list js-pagination-center"></ul>
          <div class="pag-wrap__right js-pagination-right"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- class="visually-hidden" -->
