<!-- <include src="./partials/header.html"></include> -->
<header>
  <div class="modalWindow"></div>
  <div class="conteiner-header">
    <div class="logo-group">
      <svg width="109px" height="28px" class="logo-span-header">
        <use href="./images/icons.svg#logo-light"></use>
      </svg>
      <div class="header-button-nav">
        <a href="#" class="button-header-home">Home</a>
        <a id="button-header-shop" href="#" class="button-header-shoping">
          <span>Shopping list</span>
          <svg width="26px" height="28px" class="contakts-list-icon">
            <use href="./images/icons.svg#handbag"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="button-sing-auth-js"></div>
    <div class="burger-menu-header">
      <span class="burger-menu-span1"></span>
      <span class="burger-menu-span2"></span>
      <span class="burger-menu-span3"></span>
    </div>
  </div>
</header>

<div class="shopping-list__container">
  <h1 class="shop-list__title">Shopping <span>List</span></h1>
  <p class="textEmptyPage">
    This page is empty, add some books and proceed to order.
  </p>
  <img
    class="imgEmptyPage"
    src="./images/is-empty@1x.png"
    alt="Stack of books"
  />
</div>
