<div class="shop-list__container">
  <h2 class="shop-list__title">
    Shopping <span class="shop-list__span">List</span>
  </h2>
  <ul class="shop-list__cards visually-hidden"></ul>
  <div class="shop-list__empty-page">
    <p class="textEmptyPage">
      This page is empty, add some books and proceed to order.
    </p>
    <img class="imgEmptyPage" src="./images/is-empty@2x.png" alt="" />
  </div>

  <div class="pag-wrap">
    <div class="pag-wrap__left js-pagination-left"></div>
    <ul class="pag-wrap__center list js-pagination-center"></ul>
    <div class="pag-wrap__right js-pagination-right"></div>
  </div>
</div>
